os: linux
language: python
python:
  - "3.7"
  - "nightly"
env:
  global:
    - DJANGO_SETTINGS_MODULE=centre_registry_project.settings
  jobs:
    - browserName='chrome' platform='Linux' version='48'
    - browserName='chrome' platform='Windows 10' version='78'
    - browserName='chrome' platform='OS X 10.14' version='78'
    - browserName='firefox' platform='Linux' version='45'
    - browserName='firefox' platform='Windows 10' version='70'
    - browserName='firefox' platform='OS X 10.14' version='70'
    - browserName='internet explorer' platform='Windows 10' version='11'
    - browserName='MicrosoftEdge' platform='Windows 10' version='18'
    - browserName='safari' platform='OS X 10.14' version='12'
    - browserName='safari' platform='OS X 10.13' version='13'
install:
  - pip install lxml
  - pip install -e 'centre-registry-app/'
  - pip install -r 'centre-registry-app/requirements_test.txt'
before_script:
  - source scripts/start-sauce-tunnel.sh
script:
  - Centre-Registry-config/manage.py test centre_registry.test_api
  - Centre-Registry-config/manage.py test centre_registry.test_ui
after_script:
  - source scripts/stop-sauce-tunnel.sh
notifications:
  email:
    on_success: change
    on_failure: always
