os: linux
language: python
python:
  - "3.7"
  - "3.8"
env:
  global:
    - DJANGO_SETTINGS_MODULE=centre_registry_project.settings
  jobs:
    - browserName='chrome' platform='OS X 10.14' version='78'
install:
  - pip install lxml
  - pip install -e 'centre-registry-app/'
  - pip install -r 'centre-registry-app/requirements_test.txt'
addons:
  - sauce_connect: true
script:
  - Centre-Registry-config/manage.py test centre_registry.test_api
  - Centre-Registry-config/manage.py test centre_registry.test_ui
notifications:
  email:
    on_success: change
    on_failure: always
