os: linux
language: python
python:
  - "3.7"
  - "nightly"
env:
  global:
    - DJANGO_SETTINGS_MODULE=centre_registry_project.settings
  jobs:
    - browserName='chrome' platform='Linux' version='74.0'
    - browserName='chrome' platform='Windows 10' version='78.0'
    - browserName='firefox' platform='Linux' version='70.0'
    - browserName='MicrosoftEdge' platform='Windows 10' version='44.0'
    - browserName='safari' platform='OS X 10.14' version='13.0'
install:
  - pip install lxml
  - pip install -e 'centre-registry-app/'
  - pip install -r 'centre-registry-app/requirements_test.txt'
before_script:
  - "source scripts/start-sauce-tunnel.sh"
script:
  - cat $TRAVIS_SAUCE_CONNECT_PID
  - cd -- Centre-Registry-config/
  - ./manage.py test centre_registry.test_api
  - ./manage.py test centre_registry.test_ui
after_script:
  - cd ..
  - "./scripts/stop-sauce-tunnel.sh"
notifications:
  email:
    on_success: change
    on_failure: always
