os: linux
language: python
python:
  - "3.7"
  - "nightly"
env:
  global:
    - DJANGO_SETTINGS_MODULE=centre_registry_project.settings
  jobs:
    - browserName='chrome' platform='Linux' version='48.0'
    - browserName='chrome' platform='Windows 10' version='51.0'
    - browserName='firefox' platform='Linux' version='45.0'
    - browserName='MicrosoftEdge' platform='Windows 10' version='13.10586'
    - browserName='safari' platform='OS X 10.11' version='9.0'
install:
  - pip install lxml
  - pip install -e 'centre-registry-app/'
  - pip install -r 'centre-registry-app/requirements_test.txt'
before_script:
  - source scripts/start-sauce-tunnel.sh
script:
  - Centre-Registry-config/manage.py test centre_registry.test_api
  - Centre-Registry-config/manage.py test centre_registry.test_ui
after_script:
  - echo $TRAVIS_TEST_RESULT
  - source scripts/stop-sauce-tunnel.sh
  - echo $TRAVIS_TEST_RESULT
notifications:
  email:
    on_success: change
    on_failure: always
