{% extends 'UI/_.html' %}
{% block title %}About{% endblock title %}
{% block content %}
    <h1>About the CLARIN Centre Registry</h1>
    <p>The Centre Registry is CLARIN's central registry for centres, consortia and services.
        Its content is accessible through this user interface and a RESTful
        <a href='https://trac.clarin.eu/wiki/Centre%20Registry'>application programming interface</a>. </p>
    <h2>Software development</h2>
    <h3>Source code and issue tracking</h3>
    <p>The source code of the Centre Registry is kept
        <a href='https://github.com/clarin-eric/Centre-Registry'>on GitHub</a>. </p>
    <h3>Developers (before GitHub publication)</h3>
    <ul>
        <li>Beatriz Sanchez Bribian <sup><a href='//www.rzg.mpg.de/'>RZG</a></sup></li>
        <li>Sander Maijers <sup><a href='//www.clarin.eu/applications/'>CLARIN ERIC</a>,
            <a href='http://www.mpi.nl/'>MPI-PL</a></sup></li>
    </ul>
    <h2>Licenses</h2>
    <p>Our source code in this project is GPL 3.0 licensed.
        <a href='//clarin.eu/content/development-information'>Get to work with CLARIN applications' source code and documentation</a>.
    </p>
    <h3>Licensed components</h3>
    <ul>
        <li>
            <a href='https://github.com/django/django/blob/master/LICENSE'>django</a></li>
        <li>
            <a href='https://github.com/sehmaschine/django-grappelli/blob/master/LICENSE'>django-grappelli</a></li>
        <li>
            <a href='https://github.com/django-debug-toolbar/django-debug-toolbar/blob/master/LICENSE'>django-debug-toolbar</a>
        </li>
        <li>
            <a href='https://code.google.com/p/selenium/source/browse/COPYING'>Selenium WebDriver Python bindings</a>
        </li>
    </ul>
{% endblock content %}