{% extends 'UI/_.html' %}
{% block title %}Centres{% endblock title %}
{% block content %}
    <div class='table-reponsive'>
        <table id='all_centres'
               class='datatables-table stripe order-column row-border'>
            <thead>
                <tr>
                    <th>Centre</th>
                    <th>Shorthand</th>
                    <th>Type</th>
                    <th>Type status</th>
                    <th>Assessment dates</th>
                    <th>City</th>
                    <th>Consortium</th>
                    <th>
                        <abbr title='Data Seal of Approval'>DSA</abbr>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for centre in all_centres %}
                    <tr>
                        <td>
                            <a href='/centre/{{ centre.id }}'>{{ centre.name }}</a>
                        </td>
                        <td>
                            {% if centre.website_url %}<a href='{{ centre.website_url }}'>{% endif %}
                            {{ centre.shorthand }}
                            {% if centre.website_url %}</a>{% endif %}
                        </td>
                        <td>{% if centre.type_certificate_url %}<a href='{{ centre.type_certificate_url }}'>{% endif %}
                            {% for type in centre.type.all %}{{ type }}<br/>{% endfor %}
                            {% if centre.type_certificate_url %}</a>{% endif %}
                        </td>
                        <td>{% if centre.type_status %}
                            {{ centre.type_status }}
                        {% else %}
                            <em>none</em>
                        {% endif %}</td>
                        <td>{% if centre.assessmentdates %}
                            {% for date in centre.assessmentdates.all %}
                                {{ date.brief }}<br/>
                            {% endfor %}
                        {% endif %}
                        </td>
                        <td>
                            <a href='//www.openstreetmap.org/?&amp;mlat={{ centre.latitude }}&amp;mlon={{ centre.longitude }}'>{{ centre.city }}</a>
                        </td>
                        <td>{% if centre.consortium %}
                            {% if centre.consortium.website_url %}
                                <a href='{{ centre.consortium.website_url }}'>{{ centre.consortium }}</a>
                            {% else %}
                                {{ centre.consortium }}
                            {% endif %}
                        {% else %}
                            <em>none</em>
                        {% endif %}
                        </td>
                        <td>{% if centre.dsa_url %}
                            <a href='{{ centre.dsa_url }}'>seal</a>
                        {% else %}
                            <em>none</em>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
