{% extends 'UI/_.html' %}
{% load utils %}
{% block title %}OAI-PMH endpoints{% endblock title %}
{% block content %}
    <p>Please visit <a href='//www.clarin.eu/content/oai-pmh'>this</a> page for more information about the use of <abbr title='Open Archives Initiative Protocol for Metadata Harvesting '>OAI-PMH</abbr> in CLARIN. </p>
    <table title='OAI-PMH endpoints'
           id='oai-pmh_endpoints'
           class='datatables-table stripe order-column row-border'>
        <thead>
            <tr>
                <th>Centre shorthand</th>
                <th>Endpoint base URI</th>
                <th>Information</th>
                <th>Metadata formats</th>
            </tr>
        </thead>
        <tbody>
        {% for centre in centre_endpoints_dict.keys %}
            <tr>
		    {% if centre == 'NoCentre' %}
                    <td>
                        <abbr title='{{ oaipmh_endpoint.note }}'>No centre</abbr>
                    </td>
                    <td>
                    {% for oaipmh_endpoint in centre_endpoints_dict|get_value_from_dict:centre %}
                        {% if not forloop.first %}
                            <br>
                        {% endif %}
                        <a href='{{ oaipmh_endpoint.uri }}'>{{ oaipmh_endpoint.uri }}</a>
                        {% if endpoint.oai_pmh_sets.all %}
                            <br>
                        {% endif %}
                        {% for set in endpoint.oai_pmh_sets.all %}
                            {{ set.set_spec }} ({{ set.set_type }}){% if not forloop.last %}&comma;{% endif %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td><a href='{{ oaipmh_endpoint.uri }}?verb=Identify'>Query ... </a></td>
                <td><a href='{{ oaipmh_endpoint.uri }}?verb=ListMetadataFormats'>Query ... </a></td>
            {% else %}
                <td>
                    <a href='/centre/{{ centre.id }}'>{{ centre }}</a>
                </td>
                <td>
                {% for endpoint in centre_endpoints_dict|get_value_from_dict:centre %}
                    {% if not forloop.first %}
                        <br>
                    {% endif %}
                    <a href='{{ endpoint.uri }}'>{{ endpoint.uri }}</a>
                    <br>
                    {% for set in endpoint.oai_pmh_sets.all %}
                        {% if not forloop.first %}
                            <br>
                        {% endif %}
                    &emsp;<small>{{ set.set_spec }} ({{ set.set_type }})</small>
                    {% endfor %}
                    {% if not forloop.last %}
                        <br>
                    {% endif %}
                {% endfor %}
                </td>
                <td>
                {% for endpoint in centre_endpoints_dict|get_value_from_dict:centre %}
                    <a href='{{ endpoint.uri }}?verb=Identify'>Query ... </a>
                    {% if not forloop.last %}
                    <br>
                    {% endif %}
                {% endfor %}
                </td>
                <td>
                {% for endpoint in centre_endpoints_dict|get_value_from_dict:centre %}
                    <a href='{{ endpoint.uri }}?verb=ListMetadataFormats'>Query ... </a>
                    {% if not forloop.last %}
                    <br>
                    {% endif %}
                {% endfor %}
                </td>
            {% endif %}
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
