{% extends 'UI/_.html' %}
{% block title %}OAI-PMH endpoints{% endblock title %}
{% block content %}
    <p>Please visit <a href='//www.clarin.eu/content/oai-pmh'>this</a> page for more information about the use of <abbr title='Open Archives Initiative Protocol for Metadata Harvesting '>OAI-PMH</abbr> in CLARIN. </p>
    <table title='OAI-PMH endpoints'
           id='oai-pmh_endpoints'
           class='datatables-table stripe order-column row-border'>
        <thead>
            <tr>
                <th>Centre shorthand</th>
                <th>Endpoint base URI</th>
                <th>Information</th>
                <th>Metadata formats</th>
            </tr>
        </thead>
        <tbody>
            {% for oai_pmh_endpoints_set in oai_pmh_endpoints_sets %}
                    {% if oai_pmh_endpoints_set.centre %}
                        <td>
                            <a href='/centre/{{ oai_pmh_endpoints_set.centre.id }}'>{{ oai_pmh_endpoints_set.centre }}</a>
                        </td>
                    {% else %}
                        <td>
                            <abbr title='{{ oai_pmh_endpoints_set.note }}'>No centre</abbr>
                        </td>
                    {% endif %}
                        <td>
                            {% for oai_pmh_endpoint in oai_pmh_endpoints_set.oaipmh_endpoints.all %}
                                <a href='{{ oai_pmh_endpoint.uri }}'>{{ oai_pmh_endpoint.uri }}</a>
                                {%  if not forloop.last %}
                                    <br>
                                {% endif %}
                            {%  endfor %}
                        </td>
                        <td>
                            {% for oai_pmh_endpoint in oai_pmh_endpoints_set.oaipmh_endpoints.all %}
                                <a href='{{ oai_pmh_endpoint.uri }}?verb=Identify'>Query ... </a>
                                {%  if not forloop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for oai_pmh_endpoint in oai_pmh_endpoints_set.oaipmh_endpoints.all %}
                                <a href='{{ oai_pmh_endpoint.uri }}?verb=ListMetadataFormats'>Query ... </a>
                                {%  if not forloop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
{% endblock content %}
