{% extends 'UI/_.html' %}
{% load utils %}
{% block title %}OAI-PMH endpoints{% endblock title %}
{% block content %}
    <p>Please visit <a href='//www.clarin.eu/content/oai-pmh'>this</a> page for more information about the use of <abbr title='Open Archives Initiative Protocol for Metadata Harvesting '>OAI-PMH</abbr> in CLARIN. </p>
    <table title='OAI-PMH endpoints'
           id='oai-pmh_endpoints'
           class='datatables-table stripe order-column row-border'>
        <thead>
            <tr>
                <th>Centre shorthand</th>
                <th>Endpoint base URI with sets</th>
                <th>Information</th>
                <th>Metadata formats</th>
            </tr>
        </thead>
        <tbody>
        {% for centre in centre_endpoints_dict.keys %}
		    {% if centre == 'NoCentre' %}
                {% for oaipmh_endpoint in centre_endpoints_dict|get_value_from_dict:centre %}
                    <tr>
                        <td>
                            <abbr title='{{ oaipmh_endpoint.note }}'>No centre</abbr>
                        </td>
                        <td>
                            {% if not forloop.first %}
                                <br>
                            {% endif %}
                            <a href='{{ oaipmh_endpoint.uri }}'>{{ oaipmh_endpoint.uri }}</a>
                            {% for set in endpoint_sets_dict|get_value_from_dict:oaipmh_endpoint %}
                                <br>
                                {% if set.set_spec %}
                                    &emsp;<small>{{ set.set_spec }} ({{ set.set_type }})</small>
                                {% else %}
                                    &emsp;<small> &lt;no spec&gt; ({{ set.set_type }})</small>
                                {% endif %}
                                {% empty %}
                                    <br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href='{{ endpoint.uri }}?verb=Identify'>Query ... </a>
                        </td>
                        <td>
                            <a href='{{ endpoint.uri }}?verb=ListMetadataFormats'>Query ... </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>
                        <a href='/centre/{{ centre.id }}'>{{ centre }}</a>
                    </td>
                    <td>
                    {% for endpoint in centre_endpoints_dict|get_value_from_dict:centre %}
                        {% if not forloop.first %}
                            <br>
                        {% endif %}
                        <a href='{{ endpoint.uri }}'>{{ endpoint.uri }}</a>
                        {% for set in endpoint_sets_dict|get_value_from_dict:endpoint %}
                            <br>
                        {% if set.set_spec %}
                            &emsp;<small>{{ set.set_spec }} ({{ set.set_type }})</small>
                        {% else %}
                            &emsp;<small> &lt;no spec&gt; ({{ set.set_type }})</small>
                        {% endif %}
                        {% endfor %}
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    {% endfor %}
                    </td>
                    <td>
                    {% for endpoint in centre_endpoints_dict|get_value_from_dict:centre %}
                        {% if not forloop.first %}
                            <br>
                        {% endif %}
                        <a href='{{ endpoint.uri }}?verb=Identify'>Query ... </a>
                        <br>
                        {% for set in endpoint_sets_dict|get_value_from_dict:endpoint %}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>
                    <td>
                    {% for endpoint in centre_endpoints_dict|get_value_from_dict:centre %}
                        {% if not forloop.first %}
                            <br>
                        {% endif %}
                        <a href='{{ endpoint.uri }}?verb=ListMetadataFormats'>Query ... </a>
                        <br>
                        {% for set in endpoint_sets_dict|get_value_from_dict:endpoint %}
                            <br>
                        {% endfor %}
                    {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
