name: Build wheel

on:
  [push]
defaults:
  run:
    shell: bash

jobs:
  build_wheel:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: 
          sparse-checkout: .
      - name: Build wheel
        run: |
          echo "in repo root"
          ls
          cd ..
          echo "lvl down"
          ls
          docker run -v ./Centre-Registry/:/src/Centre-Registry -v ./whl:/whl registry.gitlab.com/clarin-eric/docker-alpine-wheeler:0.0.1-a4 
      - name: Create release
        uses: actions/create-release@v1
        with:
          draft: false
          prerelease: false
          release_name: ${{ steps.version.outputs.version }}
          tag_name: ${{ github.ref }}
          body_path: CHANGELOG.md
      - name: debug
        run: ls
      - name: Add wheel to release artifacts
        uses: actions/upload-release-asset@v1
        env: 
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ../whl



