name: Build wheel

on:
  [push]
defaults:
  run:
    shell: bash

jobs:
  build_wheel:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build wheel
        run: |
          cd ..
          docker run -v ./Centre-Registry:/src -v ./whl:/whl registry.gitlab.com/clarin-eric/docker-alpine-wheeler:0.0.1-a6
      - name: Create release
        uses: actions/create-release@v1
        with:
          draft: false
          prerelease: false
          release_name: ${{ steps.version.outputs.version }}
          tag_name: ${{ github.ref }}
          body_path: CHANGELOG.md
      - name: debug
        run: ls
      - name: Add wheel to release artifacts
        uses: actions/create-release@v1
        with:
          token:  ${{ secrets.RELEASE_TOKEN }}
          tag_name: ${{ needs.build-dev.outputs.version }}
          release_name: Release ${{ needs.build-dev.outputs.version }}
          prerelease: false
